@model IC_ebilet.pl.ViewModel.EventViewModel
@{
    ViewBag.Title = "Home Page";
}
@{
    string tileType = "";
    string isTaste = "";
    string tasetColor = "";
    string sentence = "";
}


@if (User.Identity.IsAuthenticated)
{



    @section Banner {
        <div class="header header-filter headerTopBack" style="background-image: url(../../Content/img/cody-aulidge-194218.jpg);  padding:100px">

            <div class="container"><h1 style="color: white; font-family: 'Open Sans', sans-serif">Wybrane wydarzenia</h1></div>

        </div>


    }

    using (Html.BeginForm("GetItem", "Home"))
    {



        <div class="container">
            <div class="row" style="padding-top:50px; max-width: 1400px;">
                <div class="card card-signup" style="opacity:0.9; padding-bottom:20px; ">
                    <div class="header header-info text-center">
                        <h4>Wg. Kategorii</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            @foreach (var item in ViewBag.WszystkieKategorie)
                            {
                                {
                                    tileType = item.State == true ? "panel-warning" : "panel-info";
                                }
                                {
                                    isTaste = User.Identity.IsAuthenticated ? "Ocena: " : "Zaloguj się!";
                                }

                                <div class="item col-xs-6 col-sm-4 bg-info">
                                    <div class="thumbnail" style="padding:0px;">
                                        <img class="group list-group-image" src="@item.BannerLink" alt="" />
                                        <div class="caption">
                                            <div class="control-group" style="margin-bottom:0px">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    if (@item.TasteOfUser >= 70)
                                                    {
                                                        tasetColor = "label-success";
                                                    }
                                                    else if ((@item.TasteOfUser < 70) && (@item.TasteOfUser > 30))
                                                    {
                                                        tasetColor = "label-warning";
                                                    }
                                                    else if (@item.TasteOfUser <= 30)
                                                    {
                                                        tasetColor = "label-danger";
                                                    }
                                                }
                                                <span class="label label-info">@item.Category</span>
                                                <span class="label label-default">@item.SubCategory</span>
                                                <span class="label @tasetColor pull-right">
                                                    @isTaste
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        sentence = @item.TasteOfUser + "%";
                                                    }
                                                    @sentence
                                                </span>
                                            </div>
                                        </div>
                                            <div class="panel @tileType" style="margin-bottom:0;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                            @item.Title
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="@item.Id" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @item.Description
                                                    </div>
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td> Cena:</td>
                                                                <td>@item.Price</td>
                                                            </tr>

                                                            <tr>
                                                                <td> Lokalizacja:</td>

                                                                <td>@item.Location</td>
                                                            </tr>

                                                            <tr>
                                                                <td>Data:</td>

                                                                <td>@item.Date</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="container">
                                                        <div class="text-center">
                                                            @Html.ActionLink("Lubie", "Like", new { id = item.Id }, new { @class = "sharing-area btn btn-success btn-round btn-tooltip" })
                                                            @Html.ActionLink("Nie lubie", "Unlike", new { id = item.Id }, new { @class = "sharing-area btn btn-danger btn-round" })
                                                            @*<a id="modal-898231" href="@item.Link" role="button" class="btn btn-success col-md-12" data-toggle="modal">Link</a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @section Banner {
            <div class="header header-filter fullscreen header-filterFIXED" style=" background-image: url(../../Content/img/cody-aulidge-194218.jpg);">
                <div class="container" style="margin-top:70px;">
                    <div class="wrapper">
                            <div class="container">
                                <div class="row">
                                        <div class="col-md-6" style="color:white">
                                             <h1 class="title" style="color:white; font-family: 'Montserrat', sans-serif;"><b >e-bilet.pl - Inteligentne treści</b></h1>
                                            </div>
                                        <div class="col-md-6 White-Background" style="color:white; font-family: 'Open Sans', sans-serif; padding:20px;"><h7 style="color:white">
                                                eBilet.pl to lider internetowej sprzedaży biletów w branży kulturalno – rozrywkowej w Polsce. Współpracujemy z największymi krajowymi i międzynarodowymi organizatorami imprez, świadcząc usługi sprzedaży indywidualnej, korporacyjnej, a także promocji i kompleksowej obsługi imprez. Oferujemy systemy sprzedaży biletów i kontroli wejść na wszystkie wydarzenia kulturalne i sportowe. Udostępniamy naszym organizatorom i partnerom kompletne rozwiązania technologiczne do bieżącej edycji oraz śledzenia trendów sprzedaży. Jesteśmy pionierem nowoczesnych technologii dla rynku e – commerce.
                                            </h7>
                                            <br />
                                            @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "sharing-area btn btn-info btn-round" })


                                            @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "sharing-area btn btn-info btn-round" })
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
                }
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    }*@
