@model IC_ebilet.pl.ViewModel.EventViewModel
@{
    ViewBag.Title = "Test";
}

@section Banner {
    <div class="header header-filter fullscreen" style="background-image: url(../../Content/img/cody-aulidge-194218.jpg);  padding:80px">
        @using (Html.BeginForm("GetItem", "Home"))
        {
            <div class="container">
                <div class="row" style="padding-top:150px; max-width: 1400px;">
                    <div class="card card-signup" style="opacity:0.9; padding-bottom:20px; ">
                        <div class="header header-info text-center">
                            <h4>Test</h4>
                        </div>
                        <div class="content">

                            @foreach (var item in ViewBag.RandomTest)
        {
                                <div class="item col-xs-6 col-sm-4 bg-info">
                                    <div class="thumbnail">
                                        <img class="group list-group-image img-rounded" src="@item.BannerLink" alt="" />
                                        <div class="caption">
                                            <div class="control-group" style="margin-bottom:10px">
                                                <span class="label label-info">@item.Category</span>
                                                <span class="label label-default">@item.SubCategory</span>
                                            </div>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                            @item.Title
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="@item.Id" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @item.Description
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td> Cena:</td>
                                                        <td>@item.Price</td>
                                                    </tr>

                                                    <tr>
                                                        <td> Lokalizacja:</td>

                                                        <td>@item.Location</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Data:</td>

                                                        <td>@item.Date</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="container">
                                                <div class="text-center">
                                                    @Html.ActionLink("Lubie", "Like", "Home", new { id = item.Id }, new { @class = "sharing-area btn btn-success btn-round" })
                                                    @Html.ActionLink("Nie lubie", "Dislike", "Home", new { id = item.Id }, new { @class = "sharing-area btn btn-danger btn-round" })
                                                    @*<a id="modal-898231" href="@item.Link" role="button" class="btn btn-success col-md-12" data-toggle="modal">Link</a>*@
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
